<div class="page-header">
  <h1>Reset Account Password</h1>
</div>

<div class="account-wrapper">

  <div class="account-content reset-password">
    <p>Enter a new password for {{ email }}</p>

    {% form 'reset_customer_password' %}

      {{ form.errors | default_errors }}

      <div class="input-wrapper">
        <label class="accent-text">Password</label>
        <input type="password" value="" name="customer[password]" class="styled-text-field">
      </div>

      <div class="input-wrapper">
        <label for="customer-password" class="accent-text">Repeat password</label>
        <input type="password" value="" name="customer[password_confirmation]" class="styled-text-field">
      </div>

      <div class="input-wrapper">
        <input type="submit" value="Reset">
      </div>

    {% endform %}
  </div>

</div>