<div class="page-header">
  <h1>Log in</h1>
</div>

<div class="account-wrapper">

  <div class="account-content">
    <div class="account-login">
      {% form 'customer_login' %}

        {% if form.errors %}
          <p><span class="error">Sorry!</span> Please try that again.</p>
        {% endif %}

        <div class="input-wrapper email">
          <label>Email</label>
          <input type="email" placeholder="your@email.com" value="" name="customer[email]">
        </div>

        <div class="input-wrapper password">
          <label>Password</label>
          <input type="password" name="customer[password]">
        </div>

        <div class="input-wrapper">
          <input type="submit" value="Submit">
        </div>

        <span class="recover-password-toggle">Forgot your password?</span>

      {% endform %}
    </div>

    <div class="recover-password">

      <p>We&rsquo;ll send you an email to reset your password.</p>

      {% form 'recover_customer_password' %}

        {% if form.errors %}
          <div class="error-message"><span>{{ form.errors | default_errors }}</span></div>
        {% endif %}

        <div class="input-wrapper email">
          <label>Email</label>
          <input type="email" placeholder="your@email.com" value="" name="email" class="field">
        </div>

        <div class="input-wrapper">
          <input type="submit" value="Reset Password">
        </div>

      {% endform %}

      <p>or <a href="/">Cancel</a> and return to the shop.</p>
    </div>

    {% if shop.checkout.guest_login %}
    <div class="guest-checkout">
      {% form 'guest_login' %}
        <p>Continue checkout as a guest. No log in required.</p>
        <div class="input-wrapper">
          <input type="submit" class="secondary" value="Checkout as guest" />
        </div>
      {% endform %}
    </div>
    {% else %}
    <div class="new-customer">
      <p>New Customer? <a href="/account/register">Sign up for an account</a></p>
    </div>
    {% endif %}

  </div>
</div>