<div class="product-specs">

<h4>Product Details</h4>
<ul>
<li>Set of 4 ceramic coasters</li>
<li>4 1/4" diameter, 3/8" thick</li>
<li>Highly absorbent</li>
<li>Neoprene backing</li>
<li>Kiln fired after printing for image durability</li>
<li>100% USA Made</li>
</ul>

</div>