/* CART SCREENS */

/* header

header {
	background: #fff;
  border-bottom: 1px dotted #d7d1c8;
  overflow: auto;
  padding: 2.2em 0 .7em;
	border-top: 6px solid #FFF200;
}

header, header a {
  color: #2E1A0E;
}

header h3 {
  display: none;
}

header h2, header p {
  float: left;
}

header h2 a {
  background: url({{ 'img-coastermatic-logo-small.png' | asset_url }}) 0 0 no-repeat;
  display: block;
  text-indent: -999em;
  width: 150px;
  height: 20px;
  margin-top: -4px;
}

header p, header p a {
  font-family: Times, serif;
  font-style: italic;
}

header p#header-support {
  margin-left: 30px;
}

header p#header-price {
  float: right;
  margin-right: 30px;
}

header p#header-cart, header p#header-cart a {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  float: right;
}

header p#header-cart a {
  background: url({{ 'img-icon-cart.png' | asset_url }}) right 0 no-repeat;
  display: block;
  float: right;
  padding: 11px 0 0 0;
  margin: -9px 0 0;
  height: 35px;
  width: 80px;
  text-decoration: none;
  font-size: .9em;
}

header p#header-cart a span {
  color: #fff;
  width: 20px;
  display: block;
  float: right;
  text-align: center;
  margin-right: 6px;
}

header p#header-cart a:hover span {
  color: {{ settings.color_yellow }};
}

 */

/** paypal button **/
p.additional-checkout-buttons {
	border: none;
	float: right;
	margin-right: 10px;
}
p.additional-checkout-buttons input {
	border: none;
}
/**************************** NEW CSS: Coaster Sets ****************************/

div#coaster-sets-column {
  width: 630px;
  float: left;
  overflow: auto;
}

div.coaster-set {
  background: url('img-background-yellow-tissue.png') 0 0 no-repeat;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 0 0 30px 30px;
  width: 300px;
  padding: 0;
  float: left;
}

div#container div.coaster-set  ul.coaster-set-preview {
  padding: 15px 0 0 15px;
}

div.coaster-set:first-child, div.coaster-set:nth-child(odd) {
  margin-left: 0;
}

div.coaster-set ul.coaster-set-preview {
  padding: 28px 0 0 18px;
  overflow: auto;
}
div.coaster-set ul.coaster-set-preview li,
div.coaster-set ul.coaster-set-preview li img {
  float: left;
  height: 130px;
  width: 130px;
	background-size: 130px 130px;
	background-position: 0 0;
}

div.coaster-set ul.coaster-set-preview li {
  -webkit-box-shadow: 0px 0px 10px 0px #666;
  -moz-box-shadow: 0px 0px 10px 0px #666;
  box-shadow: 0px 0px 10px 0px #666;
  border-radius: 150px;
  overflow: hidden;
}

div.coaster-set ul.coaster-set-preview li.border-cropped {
	background-size: 153px 153px;
	background-position: -7.5px -7.5px;
}

div.coaster-set ul.coaster-set-preview li:nth-child(3),
div.coaster-set ul.coaster-set-preview li:nth-child(4) {
  margin: 10px 0 15px 0;
}

div.coaster-set ul.coaster-set-preview li:nth-child(odd) {
  margin-right: 10px;
}

div.coaster-set ul.coaster-set-controls {
  background: {{ settings.color_brown }};
  color: #fff;
  font-size: .9em;
  padding: 10px 15px;
  overflow: auto;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

div.coaster-set ul.coaster-set-controls label {
  font-weight: bold;
  opacity: .4;
  margin-right: 5px;
}
div.coaster-set ul.coaster-set-controls li {
  float: left;
}
div.coaster-set ul.coaster-set-controls li input {
  width: 35px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
	padding: 3px 0;
}
div.coaster-set ul.coaster-set-controls li.remove-link {
  float: right;
  font-size: .7em;
  margin-top: 5px;
}
div.coaster-set ul.coaster-set-controls li.remove-link a {
  background: url({{ 'img-icon-remove.png' | asset_url }}) 0 0 no-repeat;
  color: #fff900;
  display: block;
  width: 13px;
  height: 13px;
  text-indent: -999em;
	cursor: pointer;
}

a.remove-link {
	/* TW added */
	 position:absolute;
	 z-index:10;
	 right: 0;
}

div.coaster-set ul.coaster-set-controls li.remove-link a:hover,
a:hover.remove-link {
  background-position: 0 -30px;
}

div.coaster-set ul.coaster-set-controls li.remove-link a:active,
a:active.remove-link {
  background-position: 0 -60px;
}

/* NEW CSS: Empty Coaster Sets */

div.empty-coaster-set {
  background: none;
}

div.empty-coaster-set a {
  background: #e6e6e6 url({{ 'img-empty-set.png' | asset_url }}) 50% 15px no-repeat;
  margin: 0 auto;
  font-family: Times, serif;
  font-style: italic;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  display: block;
  padding: 0px;
  padding-top: 300px;
  font-weight: bold;
}

div.empty-coaster-set a span {
  border-top: 1px solid #d8d8d8;
  display: block;
  font-style: normal;
	font-family: Helvetica, sans-serif;
  text-decoration: underline;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  padding: 15px 0;
  color: {{ settings.color_pink }};
}

div.empty-coaster-set a:hover {
  background-color: #e2e2e2;
}

div.empty-coaster-set a:hover span {
  background: {{ settings.color_pink }};
  color: #fff;
}


button.btn {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  float: right;
}

p#shipping-options-note {
  font-family: Times;
  font-style: italic;
  width: 200px;
  float: right;
  margin: 1em 10px 1em 0;
  text-align: center;
}

section#cart {
	overflow: auto;
	margin-bottom: 1.5em;
}

div.cart-summary {
  width: 300px;
  float: right;
	font-size: 1.1em;
}

div.cart-summary h2 {
  color: #ccc;
  font-family: Times, serif;
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

div.cart-summary div.subtotal {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 20px 15px;
  font-size: 1.4em;
  overflow: auto;
  margin-bottom: 1.3em;
}
div.cart-summary div.subtotal h3,
div.cart-summary div.subtotal h4 {
  font-weight: normal;
}
div.cart-summary div.subtotal h3 {
  float: left;
}
div.cart-summary div.subtotal h4 {
  float: right;
}

div.cart-summary button.payment-button {
  margin-right: 15px;
}

/* Cart Page - Is this a gift? */
div #isGift {
	font-size: 12px;
	color: rgb(44, 27, 16);
	padding-left: 20px;
	padding-bottom: 10px;
}

div #isGift input {
	margin-left: 5px;
}

div #isGift p {
	font-family: times;
	font-style: italic;
	margin-top: 2px;
}


/* Cart Page - shipping rates table */

.shippingInfo {
	padding: 10px 15px;
	clear:both;
	font-size: 12px;
	color:#666666;
}

.shippingInfo table {
	  margin-top: 1em;
	  color:#666666;
}

.shippingInfo table th {
	font-weight: bold;
	text-align: left;
}

.shippingInfo table td {
	text-align: left;
	width: 20%;
	padding-top: 8px;
	border-bottom: 1px #CCCCCC dotted;
}

.shippingInfo p {
  margin-top: 1em;
}

.timesItalic {
	 font-family: Times;
  font-style: italic;
}
