//global objects
var instagramData = [];
var selectedImages = [];
var customerOrder = new Object();

//product variable - single coaster
var product_variant = 1030178672;


Shopify.addItem = function (variant_id, quantity, ig_name, img_1_id, img_2_id, img_3_id, img_4_id, img_1_url, img_2_url, img_3_url, img_4_url, img_1_thumbnail, img_2_thumbnail, img_3_thumbnail, img_4_thumbnail, img_1_crop, img_2_crop, img_3_crop, img_4_crop, callback) {
    var quantity = quantity || 1;
    var params = {
        type: 'POST',
        url: '/cart/add.js',
        data: 'quantity=' + quantity + '&id=' + variant_id + '&properties[ig_name]=' + ig_name + '&properties[img_1_id]=' + img_1_id + '&properties[img_2_id]=' + img_2_id + '&properties[img_3_id]=' + img_3_id + '&properties[img_4_id]=' + img_4_id + '&properties[img_1_url]=' + img_1_url + '&properties[img_2_url]=' + img_2_url + '&properties[img_3_url]=' + img_3_url + '&properties[img_4_url]=' + img_4_url + '&properties[img_1_thumbnail]=' + img_1_thumbnail + '&properties[img_2_thumbnail]=' + img_2_thumbnail + '&properties[img_3_thumbnail]=' + img_3_thumbnail + '&properties[img_4_thumbnail]=' + img_4_thumbnail + '&properties[img_1_crop]=' + img_1_crop + '&properties[img_2_crop]=' + img_2_crop + '&properties[img_3_crop]=' + img_3_crop + '&properties[img_4_crop]=' + img_4_crop + '&attributes[ig_name]=' + ig_name,
        dataType: 'json',
        success: function (line_item) {
            if ((typeof callback) === 'function') {
                callback(line_item);
            } else {
                Shopify.onItemAdded(line_item);
            }
        },
        error: function (XMLHttpRequest, textStatus) {
            Shopify.onError(XMLHttpRequest, textStatus);
        }
    };
    jQuery.ajax(params);
};

$(function () {

    //make drawer sticky
    //$("#shortlist_container").sticky({topSpacing:0});
		
    //Initialize customerOrder object
    customerOrder.userInfo = [];
    customerOrder.imageFullObjects = [];
    customerOrder.images = [];
    customerOrder.delivery = [];
    customerOrder.access_token = '';

    //setup templates
    $.template('instagramPics', '<li><a href="#"><img src="${images.low_resolution.url}" /></a></li>');
    $.template('selectedPics', '<li style="background-image: url(${images.low_resolution.url});"><a class="remove-link" href="#" title="remove coasters from cart">Remove</a><a class="crop" crop-toggle="virgin" style="cursor: pointer; position:absolute; z-index:10; left: 0;">crop</a></li>');

    //split url params to get auth key
    var urlParams = window.location.hash;
    urlParams = urlParams.split("=");

    //load instagram data
    var access_token = urlParams[1];
    customerOrder.access_token = access_token;

    function loadFeed() {
        var param = {
            access_token: access_token,
            count: 50
        };
        cmd(param, onPhotoLoaded);
    }

    function cmd(param, callback) {
        //user's media
        var cmdURL = 'https://api.instagram.com/v1/users/self/media/recent?callback=?';
        $.getJSON(cmdURL, param, callback);
    }

    loadFeed();

    //keep from reloading scroll
    var nowLoading = false;

    //only animate up on first time
    var firstLoad = true;

    function onPhotoLoaded(data) {

        //if meta code = all good
        if (data.meta.code == 200) {
            //clear current instagramData
            instagramData = [];

            //save instagram data object to page
            instagramData = data;

            //load the data portion of the JSON into a var called 'photos'
            var photos = instagramData.data;

            if (photos.length > 0) {
                // Render select page
                var newUL = document.createElement('ul');
                $.tmpl('instagramPics', photos).appendTo(newUL);
                $(newUL).appendTo('#image_content #images').hide();
                $('#instagram-logged-in-as').html('Logged in as @' + photos[0].user.username + ' <a href="http://instagram.com/accounts/logout/ ">Log Out</a>');

                $('#images ul img').load(function () {

                    if (firstLoad) {
                        // remove loading msg
                        $('#select h1.loading').fadeOut(250);

                        // fade in images + logout prompt
                        $('#instagram-logged-in-as').fadeIn(250);

                        // scroll up to hide logout message to user
                        //not working in FF
                        
                        // TW 10/31/2014
                        // $('body').delay(800).animate({
                        //     scrollTop: '70px'
                        // }, 800);

                        firstLoad = false;
                        
                    }

                    $(newUL).fadeIn(500);

                });


            } else {
                $('#select h1.loading').html('Sorry, you have no Instagram images');
            }

            //turn off loading
            nowLoading = false;

        } else {
            $('#select h1.loading').html("Sorry, there's been a problem. Please refresh the page.");

            //--- add error logging
            //alert(data.meta.error_message);
        }
    }

    // Array to store images when added
    var selectedItem = null;
    var selectedList = [];
    var shortlistCount = 1;

    //Load more images
    // if there are still images to pick, and loadingMore is false & loadingMore === false
    if (shortlistCount > 0) {
        //listen for window scroll
        $(window).scroll(function () {
            //if it scrolls into the last 100px of the window
            if ($(window).scrollTop() >= $(document).height() - window.innerHeight - 500) {
							// replaced $(window).height() with window.innerHeight due to incompatability with iOS
    					loadMoreImages();
            }
        });
    }

    function loadMoreImages() {
        if (instagramData.pagination.next_max_id) {
            $('h1.loadingMore').html('Loading more images…');
            if (nowLoading === false) {
                //load images
                var param = {
                    access_token: access_token,
                    max_id: instagramData.pagination.next_max_id,
                };
                nowLoading = true;
                cmd(param, onPhotoLoaded);
            }

        } else {
            $('h1.loadingMore').html('');
        }
    };


    // onclick handling for image selection
    $('#image_content #images').on('click', 'ul li a', function (event) {
        event.preventDefault();

        //if less than 1 has been selected
        if (selectedList.length <= 0) {

            //onclick pull object and apply data to selectedPics template
            selectedItem = $.tmplItem(this);
            selectedData = selectedItem.data;

            if (selectedList.length == 0) {
                customerOrder.userInfo = selectedItem.data.user;
            }

            //add it + render selected 
            selectedList.push(selectedItem.data.images.standard_resolution.url);

            $('#shortlist li.empty:last-child').remove(); //removes last li as new one added
            $.tmpl('selectedPics', selectedData).prependTo('#shortlist ul'); //adds to beginning of list

            //update shortlistCount
            shortlistCount = shortlistCount - 1;

            //turn pink
            $(this).parent('li').addClass('shortlisted');
            $(this).attr('id', selectedList.length);

            // we have a fullset of 1 coasters!
            if (selectedList.length == 1) {
                $('#shortlist_info').hide();
                $('div.cart-or-crop').show();

            }

            //scroll to top of screen
             $("html, body").animate({ scrollTop: 0 }, 600);
        }
    });


    // when a.remove clicked, delete parent from #shortlist + selectedItem
    $('#shortlist').on('click', 'a.remove-link', function (event) {
        event.preventDefault();

        selectedItem = $.tmplItem(this);
        selectedData = selectedItem.data;

        //delete image from selectedList
        var selectedItemID = $('this').attr('id');
        selectedList.splice(selectedItemID, 1);

        $('#image_content #images ul li').removeClass('shortlisted');

        //remove parent from #shortlist
        $(this).parent().remove();
        $('#shortlist ul').append('<li class="empty"></li>');

        shortlistCount = shortlistCount + 1;
        if (shortlistCount == 1) {
            $('div.cart-or-crop').hide();
            $('#shortlist_info').show();

        } else {
            $('h1#select-image-count').html('Select <span>' + shortlistCount + '</span> Images');
        }



    })

    // ------------------ Crop toggle
    $('#shortlist').on('click', 'a.crop', function (event) {
        event.preventDefault();

        if ($(this).attr('crop-toggle') == 'virgin') {
            // first time, switch out img for bg img, turn on class
            parentLi = $(this).parent('li');

            selectedItem = $.tmplItem(this);
            selectedData = selectedItem.data;

            selectedImgUrl = selectedData.images.standard_resolution.url;

            $(parentLi).attr('style', 'background-image: url(' + selectedImgUrl + ')').addClass('border-cropped');
            $(this).siblings('img').hide();

            $(this).attr('crop-toggle', 'on');
            
            // and do, or undo, something...
        } else if ($(this).attr('crop-toggle') == 'on') {
            //turn off class
            $(parentLi).removeClass('border-cropped');

            $(this).attr('crop-toggle', 'off');
            // and do, or undo, something...
        } else if ($(this).attr('crop-toggle') == 'off') {
            //turn on class
            $(parentLi).addClass('border-cropped');
            $(this).attr('crop-toggle', 'on');
            // and do something...
        }

    })

    // ------------------ Add to crt ---------------

    $('a#add-to-cart').on('click', function (event) {
        //$('#border_crop p.large-btn').on('click', 'a.crop-button', function (event) {
        event.preventDefault();
        
        //customerOrder used to push to database
				customerOrder.images = [];
				customerOrder.crop = [];

        // grab data from selected images, put into new object
        $('#shortlist ul li').each(function (i) {

            var aFinalTile = $.tmplItem(this).data;

            //push in to customerOrder global object

            customerOrder.imageFullObjects.push(
                aFinalTile
            );

            customerOrder.images.push(
                aFinalTile.images
            );
            
            toCrop = $(this).hasClass('border-cropped');

            if (toCrop) {
                customerOrder.crop[i] = 1;
            } else {
                customerOrder.crop[i] = 0;
            }
            
        });

        //object setup - send empty values so we can use the same db post
        var ig_name = customerOrder.userInfo.username;

        var img_1_id = customerOrder.imageFullObjects[0].id;
        var img_1_url = customerOrder.images[0].standard_resolution.url;
        var img_1_thumbnail = customerOrder.images[0].thumbnail.url;
        var img_1_crop = customerOrder.crop[0];

        var img_2_id = '';
        var img_2_url = '';
        var img_2_thumbnail = '';
        var img_2_crop = '';

        var img_3_id = '';
        var img_3_url = '';
        var img_3_thumbnail = '';
        var img_3_crop = '';

        var img_4_id = '';
        var img_4_url = '';
        var img_4_thumbnail = '';
        var img_4_crop = '';

        Shopify.addItem(product_variant, 1, ig_name, img_1_id, img_2_id, img_3_id, img_4_id, img_1_url, img_2_url, img_3_url, img_4_url, img_1_thumbnail, img_2_thumbnail, img_3_thumbnail, img_4_thumbnail, img_1_crop, img_2_crop, img_3_crop, img_4_crop, loadCart);

    })

function loadCart(){
	window.location = document.getElementById("shop-url").innerHTML + "/cart"; // Use liquid variable
}


});